abiword= 
alacritty= 
arandr= 
atom= 
audacity= 
blueman-manager= 
brasero= 
burp-startburp= 
chromium= 
cemu.exe= 
code - insiders= 
code-oss= 
code= 
cura= 
cutter= 
designer-qt4= 
evience= 
evince= 
evolution= 
factorio= 
firefox=  
firefoxdeveloperedition= 
freetube= 
gajim= 
gimp= 
gimp= 
gitk= 
google-chrome= 
heroic= 
hopper= 
inkscape= 
jdownloader= 
jetbrains-idea= 
jetbrains-pycharm= 
jetbrains-rider= 
jetbrains-clion=ﭱ 
jetbrains-goland= 
keepassx2= 
kicad= 
kitty= 
krita= 
librecad= 
libreoffice-calc= 
libreoffice-writer= 
libreoffice= 
lutris= 
lxappearance= 
mellowplayer= 
minecraft 1.11.2= 
mumble= 
mysql-workbench-bin= 
nautilus= 
navigator= 
net-minecraft-bootstrap-bootstrap= 
nm-connection-editor= 
openscad= 
pantheon-music= 
pavucontrol= 
processing-app-base= 
qtcreator= 
dolphin= 
quassel= 
rhythmbox= 
riot= 
seahorse= 
simple-scan= 
signal= 
slic3r= 
speedcrunch= 
spotify= 
steam= 
steam_app_22380= 
subl3= 
sublime_merge= 
sublime_text= 
sun-awt-x11-xframepeer= 
systemsettings= 
telegramdesktop= 
termite= 
texstudio= 
thunar= 
thunderbird= 
virt-manager= 
virtualbox machine= 
virtualbox manager= 
virtualbox= 
vlc= 
webtorrent= 
wireshark-gtk= 
wireshark-gtk= 
xfce4-terminal= 
xterm= 
zim= 
zotero= 
